{% extends "catalog/base_generic.html" %}

{% block content %}
<div class="card border-success mt-5" style="border-radius: 30px;">
    <div class="card-header bg-transparent border-success d-flex justify-content-center"><strong class="text-success">Вход</strong></div>
    <div class="card-body text-success">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
            <div>{{ form.email.label_tag }}</div>
            <p>{{ form.email }}</p>
            <button type="submit" class="btn btn-outline-success">Отправить письмо</button>
        </form>
    </div>
</div>
{% endblock %}
