{% extends "catalog/base_generic.html" %}

{% block content %}
<div class="card border-success mt-5" style="border-radius: 30px;">
    <div class="card-header bg-transparent border-success d-flex justify-content-center">
        <strong class="text-success">Сброс пароля</strong>
    </div>
    <div class="card-body text-success">

        {% if user.is_authenticated %}
        <p class="text-success">Вы авторизованы.</p>
        {% else %}
        <p class="text-success">Мы отправили вам инструкции по сбросу пароля. Если они не придут в течение 5 минут, проверьте папку спам.</p>
        {% endif %}
        <a href="/"><p class="text-success">На главную</p></a>
    </div>
</div>
{% endblock %}
